* text=auto

# Directories
/.git export-ignore
/.github export-ignore
/node_modules export-ignore
/tests export-ignore
/bin export-ignore
/docs export-ignore
/rules export-ignore
/tests export-ignore
/vendor export-ignore

# Files
/.distignore export-ignore
/.eslintrc.js export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.htmlhintrc export-ignore
/.npmrc export-ignore
/.nvmrc export-ignore
/.prettierrc export-ignore
/.stylelintrc.json export-ignore
/.editorconfig export-ignore
/CHANGELOG.md export-ignore
/codeception.yml export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/composer.phar export-ignore
/CONSOLIDATION-SUMMARY.md export-ignore
/example-single-settings.php export-ignore
/gulpfile.js export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpcs.xml.dist export-ignore
/phpcs56.xml export-ignore
/phpstan.neon export-ignore
/PREFIX-MIGRATION-COMPLETE.md export-ignore
/SECURITY-IMPROVEMENTS.md export-ignore
/TURNSTILEWP-DOCUMENTATION.html export-ignore
/README.md export-ignore
/assets/*.map export-ignore
/assets/*.scss export-ignore
/WORDPRESS-ORG-COMPLETE.md export-ignore
/WORDPRESS-ORG-FIXES.md export-ignore
