// Toggle switch styles for TurnstileWP
.turnstilewp-toggle {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 24px;
	vertical-align: middle;
	margin-right: 10px;
	input[type="checkbox"] {
		opacity: 0;
		width: 0;
		height: 0;
	}
	&-slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #e4e4e4;
		border-radius: 24px;
		transition: background 0.2s;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
		&:before {
			position: absolute;
			content: "";
			height: 18px;
			width: 18px;
			left: 3px;
			bottom: 3px;
			background-color: #fff;
			border-radius: 50%;
			transition: transform 0.2s;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
		}
	}
	input:checked + .turnstilewp-toggle-slider {
		background-color: $color-accent;
	}
	input:checked + .turnstilewp-toggle-slider:before {
		transform: translateX(22px);
	}
}
