// Frontend styles for SmartCT
.smartct-container {
	margin: 1em 0;
	text-align: center;
}
.login form .smartct-container,
.register form .smartct-container,
.lostpassword-form .smartct-container,
.comment-form .smartct-container {
	margin: 1em 0 1.5em;
}
